<div class="col-md-4 offset-md-4" >
  <h2>Add Posts</h2>
    <form class="text-left" id="addPostsForm"  (ngSubmit)="newPostsFormHandler()" ngNativeVaidate>
        <div class="form-group">
          <label for="fullNameInput" id="fullNameLabel">Title</label>
          <input type="text" class="form-control" id="fullNameInput"  [(ngModel)]="postsObject.title" 
          name ="title" placeholder="Enter Title" required>
        </div>
        <div class="form-group">
          <label for="phoneInput">Details</label>
          <input type="text" class="form-control" id="phoneInput" [(ngModel)]="postsObject.body"
           name ="body" placeholder="Enter Details" required>
        </div>
       
          <button type="submit" class="btn btn-primary"> Creat Posts</button>
       <!-- <input type="reset" style="display: none;"> -->
      </form>
      <div class="alert alert-success" *ngIf="isSucess">
          New contact saved sucessfully. Move to  <a routerLink="/posts">posts</a> page.
      </div>
</div>
